@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@layer utilities {
  .font-inter {
    font-family: "Inter", sans-serif;
  }
}
@keyframes button-bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.bounce {
  animation: button-bounce 1.5s infinite ease-in-out;
}
